@import url("reset.css");
.wrapper {
  min-height: 100%;
  font-size: 0;
  overflow: clip;
}
.header,
footer {
  font-size: 36px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-align: center;
  background-color: #412672;
}
footer {
  font-size: 30px;
  font-weight: 400;
}
.first-section {
  background-color: #412672;
}
.container {
  max-width: 1776px;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.content {
  max-width: 1230px;
  margin: 0 auto;
  padding: 61px 0;
}
.title {
  width: 505px;
  color: #fff;
  font-size: 38px;
  line-height: 1.2;
  margin-bottom: 30px;
}
.title strong {
  font-weight: 700;
}
.items-container {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.item {
  max-width: 390px;
  background-color: #fff;
  padding: 20px;
}

.item:hover {
  background-color: #ffbe48;
}
.item *:not(:last-child) {
  margin-bottom: 16px;
}
.item .picture {
  max-width: 350px;
}
.name {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
}
.text,
.link {
  color: #4f4f4f;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
}
.text {
  min-height: 80px;
}
.link {
  color: #fe3f3f;
}
.link:hover {
  text-decoration: underline;
}
.second-section {
  background-color: #fff;
}
.second-section-container {
  width: 1728px;
  font-family: "Inter", sans-serif;
  color: #412672;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.second-content {
  max-width: 520px;
  padding-top: 150px;
  padding-bottom: 150px;
  margin: 0 auto;
}
.second-content *:not(:last-child, .list-item) {
  margin-bottom: 20px;
}
.second-title {
  font-size: 34px;
  line-height: 1.2;
}
.second-title strong {
  font-weight: 700;
}
.second-section-text {
  font-size: 22px;
  line-height: 1.2;
}
.list-item {
  color: #4f4f4f;
  font-size: 20px;
  line-height: 2.5;
}
.list-item::before {
  content: "";
  background: url("../img/frame.svg");
  width: 29px;
  height: 29px;
  vertical-align: middle;
  margin-right: 15px;
}
.game-section {
  background-color: #412672;
}
.game-container {
  width: 1730px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.level-items {
  padding: 100px;
}
.container-tems,
.finish,
.start {
  display: block;
  width: 50px;
  height: 100px;
  font-size: 22px;
  text-align: center;
  background-color: rgb(220, 220, 3);
  color: #412672;
  visibility: hidden;
}
.finish,
.start {
  visibility: visible;
  padding: 25px;
  width: 200px;
  line-height: 2.5;
}
.finish {
  margin: 0 auto;
}
.first {
  margin-left: 75px;
}
.second {
  width: 200px;
  height: 50px;
  margin-left: 75px;
}
.third {
  height: 200px;
  margin-left: 225px;
}
.forth {
  width: 400px;
  height: 50px;
  margin-left: 225px;
}
.fifth {
  margin-left: 575px;
}
.sixth {
  width: 600px;
  height: 50px;
  margin-left: 575px;
}
.seventh {
  height: 300px;
  margin-left: 1125px;
}
.eigth {
  width: 200px;
  height: 50px;
  margin-left: 975px;
}
.ninth {
  height: 400px;
  margin-left: 975px;
}
.tenth {
  width: 375px;
  height: 25px;
  margin-left: 650px;
}

.level-items>*:hover{
	visibility: visible;
}
.level-items>*:hover +*{
	visibility: visible;
}